@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=satoshi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter');

/*----------------------
         1. Global
----------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --theme_color: #EF476F;
}

html {
    scroll-behavior: smooth;
}
  
body::-webkit-scrollbar {
    display: none;
}

body {
    background: no-repeat center center fixed;
    background-color:hsla(0,100%,50%,1);
    background-image:
        radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0px, transparent 50%),
        radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 50%),
        radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
        radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
        radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
        radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#FFFFFF;
    background-attachment: fixed;
}

.section-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Inter';
      
}
  
div.section-title h2 {
    position: relative;
    z-index: 3;
}
  
div.section-title h2::before {
    /* Highlight color */
    background-color: #EF476F;
    content: "";
    position: absolute;
    width: calc(100% + 20px);
    height: 50%;
    left: -10px;
    bottom: 5%;
    z-index: -1;
}


/*----------------------
         2. Header
----------------------*/
div.nav {
    position: relative;
    margin-top: 3%;
    height: 50px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.nav div.logo-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.nav div.logo-nav {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 109.53%;
    letter-spacing: 0.05em;
}

div.nav div.logo-nav img {
    display: none;
}

div.nav div.logo-nav h1 > span {
    font-family: 'Satoshi';
    font-size: 50px;
    color: #EF476F;
}

div.nav ul.buttons-nav {
    width: 45%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
}

div.nav ul.buttons-nav li, .switchlang {
    display: flex;
    align-items: center;
}


div.nav > ul.buttons-nav a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Inter';
    font-size: 35px;
    font-weight: 400;
    color:#FFFFFF;
}

div.nav > ul.buttons-nav li {
    padding: 5px 10px;
    transition: all 0.3s ease;
    border-radius: 10px;
}

div.nav > ul.buttons-nav li:hover {
    background-color: rgba(218, 218, 218, 0.25);
}

.switchlang img {
    width: 66px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
}

/*----------------------
         3. Presentation
----------------------*/
div.presentation {
    margin-top: 9%;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-bottom: 3%;
}

div.presentation > div {
    justify-content: center;
    align-items: center;
}

div.presentation__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
}

div.presentation__text a {
    width: 60%;
    border: solid 2px white;
    border-radius: 100px;
    text-align: center;
    margin-top: auto;
    font-family: 'Poppins';
    font-size: 20px;
    padding: 10px;
    margin-top: 5%;
    transition: transform  0.2s ease;
    display: inline;
    text-decoration: none;
    color: white;
}

div.presentation__text a:hover {
    transform: scale(1.1);
    border: solid 2px var(--theme_color);
    background-color: var(--theme_color);
    backface-visibility: hidden;
    will-change: transform;
}

div.presentation p {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    width: 100%;
    font-size: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 119.46%;
    letter-spacing: -0.04em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div.presentation p span {
    font-weight: 600;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1%;
}

div.presentation div.img-shockwave {
    position: relative;
    align-self: center;
    height: 200px;
    width: 200px;
    margin-top: 3%;
}

div.presentation div.img-shockwave img {
    transition: transform 0.5s ease;
}

div.presentation div.img-shockwave img:hover {
    transform: scale(1.2);
}


/*----------------------
         3. Work
----------------------*/
div.work, div.skills, div.contact {
    width: 100%;
}

div.center {
    scale: 1.1;
}

div.work svg {
    margin-bottom: -1%;
}

div.work div.section-title {
    margin-bottom: 5%;
}

div.work div.work__content, div.skills, div.contact {
    color:#2E2E2E;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.work div.section-title img {
    width: 125px;
    margin-top: 0.2%;
}

div.work__content, div.skills, div.contact {
    padding-bottom: 30%;
}


div.work__content {
    display: flex;
    flex-direction: column;
}

/*----------------------
         4. Skills
----------------------*/


div.skills {
    flex-direction: column;
    align-items: center;
}

div.skills div.section-title img {
    width: 125px;
    margin-top: 0.2%;
}



/*----------------------
         5. Contact
----------------------*/
div.contact {
    flex-direction: column;
    align-items: center;
}

div.contact ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    flex-direction: column;
    margin-top: 5%;
}

div.contact ul li, div.contact ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3% 0;
    height: 50px;
    font-size: 30px;
    font-family: 'Poppins';
    text-decoration: none;
    color: #2E2E2E;
    padding: 35px 5px;
    transition: all 0.3s ease;
    border-radius: 10px;
}

div.contact ul li a:hover {
    background-color: rgba(218, 218, 218, 0.5);
}

.btn-contact {
    cursor: pointer;
}

.btn-contact div {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: solid 3px var(--theme_color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px 0 0;
}

.btn-contact svg {
    width: 30px;
    height: 30px;
    transition: transform 0.5s ease;
    fill: var(--theme_color);
}

/*----------------------
         6. Footer
----------------------*/
div.copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -5%;
    margin-bottom: 2%;
    width: 40%;
    font-family: 'Satoshi';
    font-size: 30px;
    font-weight: 500;
}

div.copyright > * {
    margin: 0 5px;
}

div.copyright svg {
    width: 35px;
    height: 35px;
}

div.progressbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1%;
    background: darkgrey;
}

div.progressbar span#progressbar__content {
    border-radius: 0px 30px 30px 0px;
    position: absolute;
    width: 0%;
    height: 100%;
    transition: all 10ms ease-in-out;
    transform-origin: left;
    background: var(--theme_color);
}


/*----------------------
         7. Media Queries
----------------------*/
@media screen and (max-width: 1400px) {

    div.nav div.logo-nav h1 {
        display: none;
    }

    div.nav div.logo-nav img {
        display: block;
    }
    
    div.nav > ul.buttons-nav {
        width: 80%;
    }

    div.presentation {
        margin: 15% 0;
        width: 100%;
        margin-left: 0;
    }

    div.work div.section-title {
        margin-top: 10%;
    }

    div.center {
        margin-top: 3%;
    }

    div.work div.work__content, div.skills, div.contact {
        height: auto;
        justify-content: flex-start;
        margin-top: -1%;
    }
      
}

@media screen and (max-width: 800px) {

    .section-title{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 15px;
        font-family: 'Inter';
    }

    div.nav {
        justify-content: center;
        width: 90%;
    }

    div.nav > ul.buttons-nav {
        width: 100%;
    }

    div.nav > ul.buttons-nav a {
        font-size: 20px;
    }

    div.logo-nav {
        display: none !important;
    }

    .switchlang img {
        width: 30px;
        height: 20px;
    }

    div.nav div.logo-nav img {
        width: 35px;
    }


    div.presentation {
        margin: 15% 0;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 3em;
    }

    div.presentation > p {
        margin: 1% 0;
    }

    div.presentation p span {
        font-weight: 500;
        font-size: 1.5em;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    div.presentation__text p {
        font-size: 1.5em;
        text-align: center;
    }

    div.img-shockwave {
        width: 9em !important;
        height: 9em !important;
    }

    div.presentation__text {
        width: 80%;
        align-items: center !important;
        justify-content: center;
    }

    div.presentation__text a {
        font-size: 1.2em;
        width: 50%;
        padding: 7px;
    }

    svg {
        width: 100%;
        height: 100%;
    }

    div.work div.section-title {
        margin-top: 20%;
    }

    div.center {
        scale: 0.55;
        margin: -15% 0;
    }



    div.center-skills {
        grid-template-columns: repeat(3, 0.5fr) !important;
    }

    div.center-skills > div {
        scale: 0.5;
    }

    div.center-skills > div {
        width: 125px !important;
        height: 100px !important;
    }


    div.contact ul {
        scale: 0.7;
    }

    div.contact ul li {
        font-size: 35px;
        margin-left: -5%;
    }

    .btn-contact div {
        width: 2.5em;
        height: 2.5em;
    }
    
    .btn-contact svg {
        width: 1em;
        height: 1em;
    }

    div.contact ~ svg {
        margin-top: -2px;
    }

    div.copyright {
        margin-bottom: 3%;
        width: 100%;
        font-size: 20px;
    }

    div.copyright svg {
        width: 25px;
        height: 25px;
    }
}

/*----------------------
         8. Tooltip
----------------------*/

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
  }

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    font-size: 15px;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -75px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .contact ul li:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

/*----------------------
         9. Loader
----------------------*/
.loader {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: white;
    color: #2E2E2E;
    transition: opacity 0.5s ease-in-out;
    font-family: 'Inter';
}

.loader-base {
  width: 30%;
  height: 5px;
  background: #DCDCDC;
  border-radius: 10px;
  margin-top: 20px;
}

.loader-base div {
  z-index: 2;
  background: var(--theme_color);;
  width: 0%;
  height: 100%;
  border-radius: 10px;
}