@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*----------------------
         1. Global
----------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body::-webkit-scrollbar {
    display: none;
}

html {
    background: no-repeat center center fixed;
    background-color:hsla(0,100%,50%,1);
    background-image:
        radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0px, transparent 50%),
        radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 50%),
        radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
        radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
        radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
        radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#FFFFFF;
}

h2 ~ div {
    margin-top: 1%;
}


/*----------------------
         2. Header
----------------------*/
div.nav {
    margin-top: 3%;
    height: 15%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.nav div.logo-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.nav div.logo-nav {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 109.53%;
    letter-spacing: 0.05em;
}

div.nav div.logo-nav h1 > span {
    font-family: 'Satoshi';
    font-size: 50px;
    color: #EF476F;
}

div.nav ul.buttons-nav {
    width: 27%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

div.nav > ul.buttons-nav a {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-size: 35px;
    font-weight: 400;
    line-height: 119.46%;
    color:#FFFFFF;
    letter-spacing: -0.04em;
}

/*----------------------
         3. Presentation
----------------------*/
div.presentation {
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    margin-right: 5%;
}

div.presentation > div {
    justify-content: center;
    align-items: center;
}

div.presentation__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.presentation__text > img {
    margin-top: 5%;
    width: 90%;
    height: 100%;
}

div.presentation p {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    width: 70%;
    font-size: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 119.46%;
    letter-spacing: -0.04em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div.presentation p span {
    font-weight: 600;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1%;
}

div.presentation p span img {
    width: 40px;
    height: 40px;
    margin-left: 2%;
}

div.presentation div.img-shockwave {
    position: relative;
    height: 200px;
    width: 200px;
    margin-top: 2%;
}


/*----------------------
         3. Work
----------------------*/
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

/*----------------------
         4. Resume
----------------------*/

/*----------------------
         5. Contact
----------------------*/

/*----------------------
         6. Footer
----------------------*/
div.progressbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1%;
    background: darkgrey;
}

div.progressbar span#progressbar-content {
    border-radius: 0px 30px 30px 0px;
    position: absolute;
    width: 0%;
    height: 100%;
    transition: 300ms ease-in-out transform;
    transform-origin: left;
    background: #2E2E2E;
}


/*----------------------
         7. Dark Mode
----------------------*/

/*----------------------
         8. Ripple effect
----------------------*/